<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Jogo do Jarro</title>
</head>
<body>
    <div class="Envelope">
        <div class="Esquerda">
            <img id="Torneira" src="/views/img/faucet-2515657_640.png" alt="" ondragover="allowDrop(event)" draggable="false">
        </div>
        <div class="Meio">
            <img id="Jarro1" src="/views/img/copoVazio.png" alt="" draggable="true">
            <img id="Jarro2" src="/views/img/copoVazio.png" alt="" draggable="true">
        </div>
        <div class="Direita">
            <img id="Ralo" src="/views/img/drain-2454608_640.jpg" alt="" ondragover="allowDrop(event)" draggable="false">
        </div>
    </div>

    <div id="AAA">AAAAAAAAAAAA</div>


    <script src="../controllers/controllerImg.js"></script>
    <script src="../models/ClassJarro.js"></script>
    <script src="../models/ClassRalo.js"></script>
    <script src="../models/ClassTorneira.js"></script>
    <script src="../controllers/controllerDragAndDrog.js"></script>
</body>
</html>