<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Jogo do Jarro</title>
</head>
<body id = "CORPO">
    <h2 id="Titulo">JOGO DOS JARROS, ESCOLHA UM LEVEL PARA INICIAR!!</h2>
    <div id="Inicio">

        <div class="LadoInicio"></div>  

        <div class="MeioInicio">
            <p id="Explicacao">
                O jogo dos jarros consiste em 4 objetos: 2 jarros, 1 torneira e 1 ralo. 
                Todos os leveis do jogo possuem estes objetos, porem cada level tem uma 
                condição de vitória diferente, esta condição de vitoria é a quantidade 
                de água em um dos jarros. Resumindo, é necessario manipular a agua contida 
                em cada jarro para consegui ganhar o jogo ao atingir a condição de vitória.
            </p>
            <label for="Level">Level :</label>
            <select name="Level" id="Level">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
            <button id="BtnIniciar" onclick="iniciarGame(),carregaImg()">Iniciar</button>
        </div>
        
        <div class="LadoInicio"></div>

    </div>
    <div class="Envelope" id="ENVELOPE">
        <div class="Esquerda">
            <img id="Torneira" src="img/faucet-2515657_640.png" alt="" ondragover="allowDrop(event)" draggable="false">
        </div>
        <div class="Meio">
            <table>
                <tr>
                    <th id="MaxJarro1">Qnt max = </th>
                    <th id="MaxJarro2">Qnt max = </th>
                </tr>
                <tr>
                    <td><img id="Jarro1" src="img/copoVazio.png" alt="" draggable="true" ondragover="allowDrop(event)"></td>
                    <td><img id="Jarro2" src="img/copoVazio.png" alt="" draggable="true" ondragover="allowDrop(event)"></td>
                </tr>
                <tr>
                    <th id="AtualJarro1">Qnt atual = </th>
                    <th id="AtualJarro2">Qnt atual = </th>
                </tr>


            </table>


        </div>
        <div class="Direita">
            <img id="Ralo" src="img/drain-2454608_640.jpg" alt="" ondragover="allowDrop(event)" draggable="false">
        </div>
    </div>
    
    <div id="Vitoria">
        <div>
            <h1 id="AAA"></h1>
        </div>
        <div>
            <button class="Btn" onclick="location.reload()">Volte ao inicio</button>
        </div>
        
    </div>
    


    <script src="../controllers/controllerImg.js"></script>
    <script src="../models/ClassJarro.js"></script>
    <script src="../models/ClassRalo.js"></script>
    <script src="../models/ClassTorneira.js"></script>
    <script src="../controllers/controllerDragAndDrog.js"></script>
    <script src="../controllers/controllerStart.js"></script>
    <script src="../models/ClassJogo.js"></script>
</body>

</html>