<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Jogo do Jarro</title>
</head>
<body id = "CORPO">
    <h2 class="Explicacao">Para ganhar o jogo, um dos 2 Jarros precisa ter 4 litros de água.</h2>
    <div class="Envelope" id="ENVELOPE">
        <div class="Esquerda">
            <img id="Torneira" src="img/faucet-2515657_640.png" alt="" ondragover="allowDrop(event)" draggable="false">
        </div>
        <div class="Meio">
            <table>
                <tr>
                    <th id="MaxJarro1">Qnt max = </th>
                    <th id="MaxJarro2">Qnt max = </th>
                </tr>
                <tr>
                    <td><img id="Jarro1" src="img/copoVazio.png" alt="" draggable="true" ondragover="allowDrop(event)"></td>
                    <td><img id="Jarro2" src="img/copoVazio.png" alt="" draggable="true" ondragover="allowDrop(event)"></td>
                </tr>
                <tr>
                    <th id="AtualJarro1">Qnt atual = </th>
                    <th id="AtualJarro2">Qnt atual = </th>
                </tr>


            </table>


        </div>
        <div class="Direita">
            <img id="Ralo" src="img/drain-2454608_640.jpg" alt="" ondragover="allowDrop(event)" draggable="false">
        </div>
    </div>
    
    <div class="Vitoria">
        <h1 id="AAA"></h1>
    </div>
    


    <script src="../controllers/controllerImg.js"></script>
    <script src="../models/ClassJarro.js"></script>
    <script src="../models/ClassRalo.js"></script>
    <script src="../models/ClassTorneira.js"></script>
    <script src="../controllers/controllerDragAndDrog.js"></script>
</body>

</html>